div.spinner_conatainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.spinner {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	border: 14.1px solid;
	border-color: #474bff #0000;
	animation: spinner-0tkp9a 0.8s infinite;
}

@keyframes spinner-0tkp9a {
	to {
		transform: rotate(0.5turn);
	}
}
