:root {
	--color-blurple: #7289da;
  --color-yell-bubble: #f3b736;
  --color-red-bubble: #e74c3c;
  --color-green-bubble: #2ecc71;
	--color-not-quite-black: #23272a;
	--color-dark: #2c2f33;
	--color-lighter-dark: #45494e;
	--color-full-white: #ffffff;
	--color-grey-white: #B9BBBE;
	--color-grey-dark: #242629;
  --color-actually-little-black: #131313;
	--color-actually-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  line-height: 1;
}

body {
  background-color: #F5F6F8;
  overflow: hidden;
}

.fakeParent {
  position: relative;
  width: 100%;
  height: 100%;
}

.parent {
  overflow: scroll;
  height: 100%;
  width: fit-content;
	background: var(--color-not-quite-black);
}

.parent::-webkit-scrollbar {
  display: none;
}
a.squircle{
  text-decoration: none;
  color: var(--color-full-white);
}

.squircle {
  background: var(--color-lighter-dark);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: border-radius 128ms, background 128ms, color 128ms;
  display: flex;
  justify-content: center;
  align-items: center;
  /* rendre l'item deplaçable */
  --webkit-app-region: drag;

}
.purple-boi:hover {
	border-radius: 36%;
  background: var(--color-blurple);
}

.yell-boi:hover {
  border-radius: 36%;
  background: var(--color-yell-bubble);
}

.red-boi:hover {
  border-radius: 36%;
  background: var(--color-red-bubble);
}

.green-boi:hover {
  border-radius: 36%;
  background: var(--color-green-bubble);
}

.enfant {
  cursor: default
}

.parent .enfant {
  display: inline-block;
  position: absolute;
  background-color: var(--color-actually-little-black);
  padding: 8px 15px;
  border-radius: 5px;
  left: 90px;
  opacity: 0;
  visibility: hidden;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.parent  .enfant:before {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: 10px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: inherit;
}

.parent div {
  display: flex;
  align-items: center;
  margin: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.parent div:hover .enfant {
  visibility: visible;
  opacity: 1;
}
.parent .active {
  background-color: #22252E;
}
.parent .active i {
  color: #98D7EC;
}

.sidebar-hr {
    background: #4c4f57;
    border: 1.5px solid #2f3136;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

#sidebar-enfant-container {    
  display: inline-block;
  position: absolute;
  background-color: var(--color-actually-little-black);
  padding: 8px 15px;
  border-radius: 5px;
  left: 90px;
  opacity: 0;
  visibility: hidden;
  font-size: 15px;
  letter-spacing: 0.5px;
}