* {
	margin: 0;
	padding: 0;
}

ul[class] {
	list-style: none;
}

button {
  font: inherit;
}

.sidebar-hr {
    background: #4c4f57;
    border: 1.5px solid #2f3136;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}


.loading {
    /* text au centre de la page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

