
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
	--color-full-white: #fff;
	--color-dark: #2c2f33;
	--color-lighter-dark: #2f3136;
	--color-not-quite-black: #36393f;
	--color-actually-little-black: #2f3136;
	--color-blurple: #7289da;
	--color-yell-bubble: #d0b34e;
	--color-red-bubble: #ff5555;
	--color-green-bubble: #57f287;
}

html,
body {
	margin: 0;
	font-family: "Quicksand", Quicksand;
	color: #ffffff;
  	text-rendering: optimizeLegibility;

}

* {
  box-sizing: border-box;
}


#app {
  display: flex;
  flex-direction: column;
}
