@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

:root {
	--color-primary: #202224;
	--color-full-white: #ffffff;
	--color-darker-white: #f2f3f5;
	--color-light-grey: #99aab5;
	--color-grey: #35393f;
	--color-dark-grey: #2f3137;
	--color-blurple: #7289da;
	--color-yell-bubble: #d0b34e;
	--color-red-bubble: #f04747;
	--color-green-bubble: #43b581;
	--color-input: #23252a;
	--color-whiter-dark: #7c7979;
	--color-hover-grey: #4e505899;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch;
	font-family: "Poppins", sans-serif;
	color: var(--color-light-grey);
	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}

#app {
	display: flex;
	flex-direction: column;
	user-select: none;
}
